{% poolHeader poolId poolName %}
<style>
    #participants_href {
        color: rgb(70, 178, 250);
    }
</style>
<div>
    <table>
        <tbody>
            <tr style="background-color: white;">
                <th>Пользователь</th>
                <th>Роль</th>
            </tr>
            {% map (\(name, role) ->
            <tr style="font-size: 15px; background-color: white;">
                <td>{% name %}</td>
                {% case role of
                Owner -> <td style="color: orange;">Владелец</td>
                Participant -> <td style="color: green;">Участник</td>
                Invited -> <td style="color: gray;">Приглашённый</td>
                %}
            </tr>) members
             %}
        </tbody>
    </table>
</div>
